body{
  margin: 0px;
  background-size: contain;
  }
  #Team{
    height: 100%;

  }
.container{
  margin-top: 35px;
}

  .carousel{
      background: #2f4357;
      margin-top: 20px;

  }
  .carousel .item{
      min-height: 250px; /* Prevent carousel from being distorted if for some reason image doesn't load */
  }
  .carousel .item img{
    width:100%; /* Align slide image horizontally center */
  }
  .carousel1{
    margin: 20px;
  }
  .carousel-indicators li  {
     visibility: hidden;
   }
   .carousel-caption{
     top: 70%;
     width: 100%;
     text-align: left;
   }

#mobile_nav{
    top:20px;
  }
    .hamburger{
      right:0px;
      text-align: right;

      position: absolute;
      font-size:40px;
      color: white;
    }

    .chapterlogo{
      text-align: left;

      left:0px;
      position: absolute;
      margin-bottom: 40px;
      margin-right: 20px;

    }
    #logo{
      height:90px;
      width:190px;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        top:0px;
        z-index: 400;
        text-align:center;
    }
    .sidenav a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 40px;
        margin-top:20px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    #footer{
    padding:50px;
    }
  .icons{
  text-align: right;
  height: inherit;

  }
  #icon1{
    height:25px;
    width: 15px;
    margin:10px;
  }
  #icon2{
    height: 25px;
    width: 25px;
    margin:10px;
  }
  #icon3{
    height:25px;
    width: 20px;
    margin:8px;
  }

#head{
color: #60C9EC;
font-size: 35px;
font-weight: bold;
font-family: "Raleway";
}

#TeamText{
  text-align: justify;
  padding-top:15vh;
  color:white;
  font-size:22px;
  width: 100%;
  font-family: "Montserrat";
}
@media only screen and (max-width:1024px){

  #TeamText{
    text-align: justify;
    padding-top:15vh;
    width:100%;
    color:white;
    font-size:21px;
    float: left;
  }
  #head{
    font-size: 26px;
  }
  #Team_row{
    padding-top: 10px;
    float: left;
    padding-left: 120px;
  }

}
@media only screen and (max-width:769px){
  #footer{
    display: none;
  }
  #TeamText{
    text-align: justify;
    padding-top:15vh;
    width:100%;
    color:white;
    font-size:17px;
    float: left;
  }
  #head{
    font-size: 21px;
  }
  #Team_row{
    padding-top: 10px;
    float: left;
    padding-left: 120px;
  }

}

@media only screen and (max-width:425px){
  #footer{
    display: none;
  }
  #TeamText{
    text-align: justify;
    padding-top:15vh;
    width:100%;
    color:white;
    font-size:15px;
    padding-bottom: 10px;

  }
  #head{
  font-size: 20px;
  font-weight: bold;
  }
  }
